body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

@media only screen {
    #imageContainer {
        display: none;
    }


    body {
        background-color: #4a4a4a;
        color: #fff;

        font-family: 'Arial', sans-serif;
        font-size: 18px;

        height: 100vh;
        padding: 0;
        margin: 0;
    }

    #inputDiv {
        background-color: #3d3c3c;

        width: 25rem;
        border: 1px solid #ddd;
        margin-inline: auto;
    }

        #previewImageContainer {
            text-align: center; 
            height: 19rem;
            padding: 1rem;
        }
        
        #previewImage {
            max-width: 100%;
            max-height: 300px;
            border-radius: 100%;
        }
        
        #controlDiv {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 3rem;
        }

            .selectImageContainer {
                height: 100%;
                padding: 0 !important;

                flex: 5;
                padding: 10px;
                border: 1px solid #ddd;
                cursor: pointer;     
                display: flex;
                align-items: center;   
            }

            #uploadImageButton {
                background: #585858;
                height: 100%;
                margin-right: .7rem;
                transition: all .1s ease-in-out;
            }
            #uploadImageButton:hover {
                background: #606060;
                transition: all .1s ease-in-out;
            }
    
            #generateTemplateButton {
                flex: 2; /* Take up all available space */

                padding: 10px;
                background-color: #3498db;
                color: #fff;
                border: 1px solid #ddd;
                cursor: pointer;
            }

    footer {
        /* background-color: purple; */
        font-size: 1rem;
        text-align: center;
        font-family: copperplate, sans-serif;

        position: absolute;
        bottom: 0;

        width: 100vw;
        height: 3rem;

    }

    footer img {
        height: 1rem;
        width: 2rem;
        vertical-align: middle;
    }

    footer a {
        color: aqua;
        text-decoration: none;
    }
}


/* STYLE FOR THE PIN GRID */

@media print {
    #inputDiv, footer {
        display: none;
    }

    #imageContainer {
        display: block;
    }

    .image-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        margin-top: 20px;
    }
    
    .imgRow {
        width: min-content;
        height: min-content;
        display: block;
    }
    
    .pinImage {
        /* border: .5mm solid #ca1616; */
        border: .5mm solid #000;

        width: 32mm;
        padding: 5.5mm;
        border-radius: 50%;
        margin: 1.5mm;
    }
}
