

.pinDiv {
    background-color: #3e3e3e;

    display: flex;
    flex-direction: row;
    gap: 2rem;  

    position: relative;

    width: 100%;
    padding: 3rem;
}

.pinDiv .previewPin {
    aspect-ratio: 1/1;
    border-radius: 100rem;

    box-sizing: content-box;
}

.pinDiv .paddedPin {
    width: 10rem;
    border: .1rem solid #000000;
    padding: 1.9rem;
}

.pinDiv .prePaddedPin {
    width: 14rem;
}

.pinDiv .previewPinImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
    border-radius: 100rem;
    border: .05rem solid black;
}


/* --- -- Settings -- ---  */

.pinDiv .settingsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}


.pinDiv .deleteButton {
    background-color: rgb(122, 15, 15);
    
    position: absolute;
    top: 0;
    right: 0;

    border-radius: 0 0 0 3rem;
}

.pinDiv .deleteButton:hover {
    background-color: rgb(158, 17, 17);

    cursor: pointer;
}

.settingsDiv .amountInput {
    width: 4rem;
    text-align: center;
}

.settingsDiv .createPaddingInput {
    height: 1.5rem;
}

.settingsDiv .backgroundColorInput {
    position: absolute;

    z-index: -11 ;
}

.openBackgroundColorButton {
    overflow: hidden;

    height: 1.5rem;
    aspect-ratio: 1/1;

    border: .2rem solid #fff;
    border-radius: .1rem;
}

.settingsDiv .backgroundColorDisclaimer {
    font-style: italic;
    font-size: 1rem;
    max-width: 60ch;
}